.root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.section {
  width: 50%;
  height: 100%;
}

.pdfSection {
  overflow: hidden;
  margin: 20px;
  border: 1px solid #3c3c3c;
  border-radius: 4px;
  width: fit-content;
  min-width: 40%;
}
